* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
    /* color: #05073C; */
}

/* common css starts*/

.section-padding {
    padding: 80px 0px;
}

.section-padding-bottom {
    padding-bottom: 80px;
}

.section-padding-top {
    padding-top: 80px;
}

.anchor-tag {
    text-decoration: none;
    color: black;
}

/* common css ends  */

/************************************************************* header css ******************************************/

.header-main {
    width: 100%;
    padding: 15px 0;
    top: 0;
    z-index: 999;
    transition: background-color 0.3s ease, padding 0.3s ease;
    background-color: rgba(0, 0, 0, 0.05);
}

.fixed-header {
    position: fixed;
}

.not-fixed-header {
    position: sticky;
    background-color: rgb(39, 39, 39);
}

.logo-image {
    width: 150px;
    height: auto;
}

.navbar-brand {
    color: white;
    font-size: 17px;
}

.navbar-brand:hover {
    color: #EB662B;
}

.login-btn {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px 10px;
    color: #05073C;
    font-size: 13px;
    font-weight: 600;
}

.sticky-header {
    background-color: rgb(39, 39, 39);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
}

.navbar {
    transition: all 0.3s ease;
}

/************************************************************* home banner css ******************************************/


.homepaage-banner-image-1 {
    height: 100vh;
    width: 100% !important;
    overflow: hidden;
    background-image: url("../assets/images/banner-slider-1.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.homepaage-banner-image-2 {
    height: 100vh;
    width: 100% !important;
    overflow: hidden;
    background-image: url("../assets/images/banner-slider-2.png");
    background-size: cover;
    background-position: center;
    position: relative;
}


.home-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100% !important;
}

.banner-heading {
    font-size: 80px;
    color: white;
    font-weight: 600;
}

.banner-para {
    font-size: 15px;
    color: white;
}

.featured-trips-section {
    background-color: #EB662B0D;
}

.common-section-heading {
    font-size: 30px;
    color: black;
    font-weight: 600;
}

.hero-swiper,
.hero-slide {
    width: 100%;
    height: 100%;
}

/************************************************************* featured css ******************************************/
.slider-nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    gap: 10px;
}

.nav-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 50px;
    cursor: pointer;
}

.nav-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.featured-card-main {
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    /* height: 415px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease;

}

.popular-card-main {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.featured-card-main:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(235, 102, 43, 0.9);
}

.featured-card-main img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.featured-content-main {
    padding: 30px 25px 20px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.featured-city-para {
    color: #717171;
    font-size: 14px;
    margin-bottom: 8px;
}

.featured-content {
    color: #05073C;
    font-size: 17px;
    font-weight: 500;
}

.featured-bottom-content {
    border-top: 1px solid #E7E6E6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
    padding-top: 13px;
}

.featured-bottom-content p {
    font-size: 12px;
}

/************************************************************* trending css ******************************************/

.trending-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
    object-fit: cover;
}

.trending-card figure {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.trending-card figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}

.trending-card figure:hover::before {
    animation: shine 0.75s;
}

@keyframes shine {
    100% {
        left: 125%;
    }
}


.trending-grid-para {
    color: white;
    font-weight: 600;
}

.trending-grid-content-center-image {
    position: absolute;
    bottom: 45px;
    left: 20px;
}

.trending-grid-content-three {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

/************************************************************* offer css ******************************************/
.offer-left {
    background-color: #EB662B0D;
    padding-left: 100px;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;

}

.offer-left-heading {
    font-size: 28px;
    color: #05073C;
    font-weight: 700;
    line-height: 37px;
}

.offer-left p {
    color: #05073C;
    margin: 10px 0px 20px;
}

.offer-button {
    background-color: #EB662B;
    color: white;
    padding: 8px 25px 10px;
    border: 1px solid #EB662B;
    border-radius: 10px;
}

.offer-span-head {
    color: #EB662B;
}

/************************************************************* reviews css ******************************************/
.reviews-main {
    margin: 60px 0px 80px;
}

.reviews-para {
    color: #EB662B;
    text-align: center;
}

.reviews-content-para {
    color: #05073C;
    line-height: 30px;
}

.reviews-content-para {
    margin-top: 20px;
    text-align: center;
}


.testimonial-name {
    font-size: 17px;
}

.testimonial-postion {
    font-size: 13px;
}

.reviews-icon-main {
    position: absolute;
    top: -8px;
    right: 200px;
}

.booking-offer-main {
    background-color: #EB662B;
    padding: 70px;
    border-radius: 10px;
}

.first-booking-head {
    color: white;
    font-size: 26px;
}

.first-booking-left p {
    font-size: 12px;
    margin-top: 10px;
}

.get-link-para {
    font-size: 16px !important;
    color: white;
    margin-top: 30px !important;
}

.get-link-input input {
    padding: 10px 10px 10px 16px;
    border-radius: 7px;
    border: none;
    margin-right: 10px;
    width: 280px;
}

.get-link-input input:focus {
    outline: none;
}

.get-link-input button {
    padding: 10px 23px;
    border-radius: 7px;
    border: none;
    background-color: white;
    color: #4A43C4;
}

/************************************************************* blogs css ******************************************/

.blogs-card-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.blogs-author {
    font-size: 14px;
    border-right: 1px solid #E7E6E6;
    padding-right: 10px;
}

.blogs-posted {
    font-size: 14px;
    padding-left: 10px;
}

.blogs-content {
    font-size: 19px;
}

.blogs-tag-main p {
    padding: 7px 18px;
    border-radius: 20px;
    background-color: white;
    font-size: 14px;
}

.blogs-tag-main {
    position: absolute;
    top: 20px;
    left: 20px;
}

/************************************************************* Footer css ******************************************/
.footer-main {
    background-color: #EB662B0D;
}

.expert-contact {
    color: #EB662B;
    margin-left: 10px;
    text-decoration: none;
}

.footer-social-icon {
    display: flex;
}

.footer-top-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #ffd8c7;
}

.footer-social-icon {
    text-align: center;
}

.footer-social-icon p {
    color: black;
    margin: auto 0px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
}

.footer-social-icon ul.social-hover {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.footer-social-icon ul.social-hover li {
    list-style: none;
}

.footer-social-icon ul.social-hover li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    z-index: 1;
    transition: all 0.3s ease;
}

.footer-social-icon ul.social-hover li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
}

.footer-social-icon ul.social-hover li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.footer-social-icon ul.social-hover li a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
}

.footer-social-icon ul.social-hover li a:hover::before {
    top: 0;
}

/* Unique hover colors per icon */
.footer-social-icon ul.social-hover li:nth-child(1) a::before {
    background: #3b5999;
    /* Facebook */
}

.footer-social-icon ul.social-hover li:nth-child(2) a::before {
    background: #e4405f;
    /* Instagram */
}

.footer-social-icon ul.social-hover li:nth-child(3) a::before {
    background: #000000;
    /* X (Twitter) */
}

.footer-social-icon ul.social-hover li:nth-child(4) a::before {
    background: #0077b5;
    /* LinkedIn */
}

.footer-bottom-main {
    padding: 50px 0px;
}

.footer-column-heading {
    color: #05073C;
    margin-bottom: 20px;
}

.footer-column-one a {
    text-decoration: none;
    color: #05073C;
}

.footer-anchor-main a {
    text-decoration: none;
    color: #05073C;
    margin-bottom: 15px;
}

.subscribe-main input {
    border-radius: 7px;
    border: none;
    padding: 10px 20px;
    width: 250px;
}

.subscribe-main button {
    border: none;
    background-color: white;
}

.subscribe-main {
    background-color: white;
    width: 360px;
    padding: 6px 0px;
    border-radius: 10px;
}

.subscribe-main input:focus {
    outline: none;
}

/************************************************************* Destination Detail css ******************************************/
.destination-detail-banner-main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.destination-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    /* Black to transparent */
    z-index: 1;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    color: white !important;
    font-size: 30px !important;
    margin-left: 60px !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color: white !important;
    font-size: 30px !important;
    margin-right: 60px !important;
}


.destination-slide-content {
    position: absolute;
    z-index: 2;
    position: absolute;
    bottom: 40px;
    left: 120px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.destination-swiper,
.destination-slide {
    height: 100%;
    width: 100%;
}

.destination-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.dest-package-name {
    font-size: 45px;
    color: white;
    font-weight: 600;
}

.dest-package-para {
    font-weight: 600;
    color: white;
}

.discount-icon-image {
    width: 28px;
    height: auto;

}

.discount-price-banner {
    font-size: 18px;
    font-weight: 600;
    color: #EB662B;
}

.starting-price {
    font-size: 16px;
    margin: 0px 7px 0px 4px;
    color: white !important;
}

.destination-banner-btn {
    background-color: #EB662B;
    color: white;
    padding: 8px 25px 10px;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #EB662B;
    border-radius: 20px;
}

.destination-about-tour {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 30px 30px;
    border-radius: 10px;
}

.destination-read-less-btn {
    background-color: #007bff;
    color: white;
    padding: 4px 15px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    margin-bottom: 25px;
}

.destination-read-less-main {
    width: 100%;
    display: flex;
    position: sticky;
    justify-content: end;
    top: 80px;
    -webkit-box-align: center;
    align-items: center;
    z-index: 10;
    background: white;
}

.destination-read-more-btn {
    background-color: white;
    color: black;
    padding: 4px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.destination-read-more-main {
    position: absolute;
    bottom: 0px;
    right: 0;
}

.destination-about-tour-content {
    height: 70px;
    overflow: hidden;
    position: relative;
}

.destination-about-tour-content-expand {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.destination-viewall-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.destination-viewall {
    background-color: #EB662B;
    color: white;
    padding: 8px 40px 10px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #EB662B;
    border-radius: 20px;
}

.filter-card-offer {
    background-color: #EB662B;
    color: white;
    padding: 6px 18px 7px;
    font-weight: 500;
    font-size: 10px;
    border: 1px solid #EB662B;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 15px
}

.filter-card-featured {
    background-color: #4A43C4;
    border: 1px solid #4A43C4;
}


.travel-guidence-head {
    padding-left: 10px;
    border-left: 4px solid #f26322;
}

.destionation-travel-guidence {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 25px 30px;
    border-radius: 5px;
    margin-top: 30px;
}

.destination-enquiry-form {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 40px 30px;
    border-radius: 10px;
}


.destination-enquiry-input-div input:focus-visible {
    outline: none;
}

.destination-enquiry-input-div input {
    border: none;
    padding-left: 10px;
    background-color: #ffe7dd;
    width: 215px;
}

.destination-enquiry-input-div {
    background-color: #ffe7dd;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #EB662B;
}

.destination-enquiry-input-div input::placeholder {
    font-size: 14px;
}

.destination-enquiry-button {
    background-color: #EB662B;
    color: white;
    padding: 8px 60px 10px;
    border: 1px solid #EB662B;
    border-radius: 25px;
    font-weight: 600;
}

.destination-enquiry-button:hover {
    background-color: #ff8d5c;
    border: 1px solid #EB662B;
}

.destination-enquiry-input-main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/************************************************************* Destination Filter css ******************************************/


.destination-filter {
    color: #05073C;
    text-decoration: none;
    font-size: 13px;
}

.destination-filter-top i {
    font-size: 12px;
}

.destination-filter-top {
    display: flex;
    justify-content: space-between;
}

.destination-filter-heading {
    font-weight: 600;
    margin: 40px 0px 30px;
}

.destination-filter-main-left-top {
    background-color: #EB662B;
    border: 1px solid #EB662B;
    padding: 30px 40px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.destination-filter-main {
    padding: 0px 30px 0px;
}

.destination-filter-main .filter-input {
    margin-top: 10px;
    padding-left: 5px;
}


input[type="checkbox"] {
    transform: scale(1.3);
    margin-right: 10px;
}

.destination-filter-main-left-bottom {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.destination-filter-main .filter-heading {
    border-top: 1px solid #E7E6E6 !important;
    padding-top: 25px;

}

.filter-accordion {
    border: none !important;
}

.filter-accordion-button {
    box-shadow: none !important;
}

.destination-filter-main .accordion-button::after {
    background-image: none !important;
}

.destination-filter-main-left {
    position: sticky;
    top: 100px;
    z-index: 10;
}

/* Destination Filter Right Css */

.destination-filter-card-main {
    padding: 20px 15px;
    border: 1px solid #E7E6E6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.filter-card-place {
    font-size: 14px;
}

.filter-card-head {
    margin-top: 5px;
    font-size: 17px;
}

.filter-card-rating {
    font-size: 13px;
    text-align: center;
}

.filter-card-features {
    display: flex;
    justify-content: space-around;
}

.filter-card-features p {
    color: #EB662B;
    margin-top: 10px;
}

.destination-filter-card-right {
    border-left: 1px solid #E7E6E6;
    padding-left: 30px;
}

.filter-card-offer-pricing {
    color: #C6C6D2;
    text-decoration: line-through;
}

.filter-card-view-main button {
    color: #EB662B !important;
    padding: 12px 45px 14px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #EB662B;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
}

.filter-card-view-main button:hover {
    background-color: #EB662B;
    color: white !important;
}

.filter-card-view-main {
    margin-top: 65px;
}

/************************************************************* overview page css ******************************************/
.overview-best {
    background-color: #fff4ef;
    color: #EB662B;
    padding: 8px 18px 9px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 20px;
}

.overview-free {
    background-color: #F5F5F5;
    color: black;
    padding: 8px 18px 9px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 20px;

}

.tours-overview-head {
    font-weight: 600;
    width: 45%;
    margin-top: 20px;
    font-size: 30px;
}

.tour-overview-ratings-place p {
    font-size: 14px;
}

.tour-overview-ratings-place {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.tour-overview-box {
    width: 50px;
    height: 50px;
    border: 1px solid #E7E6E6;
    border-radius: 10px;
}

.tour-overview-image-bottom {
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
}

.tour-overview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.tour-overview-dura {
    font-weight: 500;
    color: #05073C;
}

.tour-overview-days {
    color: #717171;
    font-size: 15px;
}

.tour-overview-common-head {
    font-weight: 600;
}

.tour-overview-highlight {
    border-bottom: 1px solid #E7E6E6;
    padding-bottom: 40px;
}

.whats-included-main {
    padding-top: 40px;
    border-bottom: 1px solid #E7E6E6;
    padding-bottom: 40px;
}

.whats-included-allowed {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: green;
}

.whats-included-dont-allowed {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: red;
}


.timeline-container {
    border-left: 0;
    padding-left: 20px;
    margin: 40px 0px 0px;
}

.timeline-dot-wrapper {
    position: relative;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-dot {
    width: 16px;
    height: 16px;
    border: 3px solid #f26322;
    border-radius: 50%;
    background-color: white;
    position: relative;
    z-index: 2;
}

.timeline-dot.filled {
    background-color: #f26322;
    border-color: #f26322;
}

/* 
.timeline-line {
    height: 100%;
    width: 2px;
    background-color: #f26322;
    position: absolute;
    top: 16px;
} */
.timeline-step {
    cursor: pointer;
    margin-bottom: 30px !important;
}

/************************************************************* tour overview Faq's css ******************************************/
.tour-overview-faqs .accordion-item {
    border: 1px solid #E7E6E6 !important;
    margin-bottom: 30px;
}

.tour-overview-faqs .accordion-button:not(.collapsed) {
    background-color: white !important;
    box-shadow: none !important;
}

.tour-overview-faqs .button:focus:not(:focus-visible) {
    box-shadow: none !important;
}

.tour-overview-faqs .accordion-button::after {
    background-image: none !important;
    width: 20px !important;
    height: 20px !important;
    background-color: #e4dcd9 !important;
    border-radius: 50px;
}

.tour-overview-faqs .accordion-button:not(.collapsed)::after {
    background-image: none !important;
    width: 20px !important;
    height: 20px !important;
    background-color: #f26322 !important;
    border-radius: 50px;
}

.tour-overview-faqs .accordion-button:not(.collapsed) {
    color: black !important;
    font-weight: 500 !important;
}

.tour-overview-faqs .accordion-button:focus {
    box-shadow: none !important;
}

.tour-overview-comments input {
    border: 1px solid #E7E6E6;
    padding-left: 15px !important;
    width: 100%;
    padding: 13px;
    border-radius: 9px;
    margin-bottom: 30px;
}

.tour-overview-comments input:focus-visible,
.tour-overview-comments textarea {
    outline: none;
}

.tour-overview-comments textarea {
    border: 1px solid #E7E6E6;
    width: 100%;
    padding: 13px;
    border-radius: 9px;
    margin-bottom: 30px;
    height: 120px;
}

.comments-overview-btn {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    background-color: #EB662B !important;
    color: white !important;
}

.comments-overview-btn:hover {
    background-color: #9b3f18 !important;
}

.tour-overview-right {
    margin: 40px 0px 0px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #E7E6E6;
    padding: 30px 30px;
    border-radius: 8px;
    position: sticky;
    top: 100px;

}

.tour-overview-totol {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E7E6E6;
    margin-top: 25px;

}

.tour-overview-totol p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.tour-overview-date {
    display: flex;
    padding: 10px;
    border: 1px solid #E7E6E6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tour-overview-time {
    display: flex;
    padding: 10px;
    border: 1px solid #E7E6E6;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tour-overview-book-head {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px;
}

.tour-booking-para {
    font-size: 15px;
}

.tour-booking-para span {
    font-weight: 600;
}

.tour-booking-indicator {
    width: 25px;
    height: 25px;
    border: 1px solid #E7E6E6;
    border-radius: 50px;
}

.tour-booking-ticket {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tour-booking-extra {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tour-booking-extra span {
    font-size: 12px;
}

.ticket-book-last {
    font-size: 14px;
}

.mobile-booking-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.mobile-booking-btn button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #EB662B;
    color: white;
    border: none;
}

/************************************************************* Reviews Faq's css ******************************************/
.customer-review-main .reviwer-image {
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}

.customer-review-main .reviwer-image p {
    font-size: 13px;
}

.customer-review-main .reviwer-name {
    font-weight: 500;
    color: #05073C;
}

.customer-review-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.customer-review-main .reviwer-date {
    color: #717171;
}

.customer-review-main .reviwer-head {
    margin-left: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.customer-review-image {
    margin-top: 25px;
}

.customer-review-image img {
    width: 100%;
    height: auto;
}

.see-more-review {
    background-color: white;
    border: 1px solid #EB662B;
    border-radius: 10px;
    padding: 14px 30px;
    color: #EB662B;
    cursor: pointer;
    margin: 50px 0px
}

.see-more-review:hover {
    background-color: #EB662B;
    color: white;
}

/************************************************************* sibebar css ******************************************/
.sidebar-menu {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    padding: 4px 15px;
    border-radius: 7px;
}

.sidebar-menu:hover,
.sidebar-menu:hover button {
    background-color: white;
    color: #EB662B;
}

.sidebar-menu.active {
    background-color: white;
    color: #EB662B;
}

.sidebar-icon {
    font-size: 16px;
    margin-top: 8px;
}

.Layout-container {
    display: flex;
    height: 100vh;

}

.sidebar-container-main {
    width: 20rem;
    padding: 1.5rem;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    background-color: #EB662B !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.Layout-right-container {
    margin: 20px;
    width: 100%;
}

.page-content {
    padding: 20px;
    height: 90vh;
    overflow-y: scroll;
}

.submenu-list {
    list-style: none;
    padding-left: 0px;
}

.submenu-menus {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    padding: 7px 15px;
    border-radius: 7px;
}

.submenu-menus a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.submenu-menus a span {
    font-size: 20px;
}

.submenu-menus:hover,
.submenu-menus:hover a {
    background-color: white;
    color: #EB662B;
}

.submenu-menus.active,
.submenu-menus.active a {
    background-color: white;
    color: #EB662B !important;
}

.header-div-main {
    padding: 13px 0px;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.user-profile-main {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.user-profile-main h4 {
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 18px;
}

.user-profile-main h4 span {
    margin-left: 5px;
}

.dropdown-menu .dropdown-item {
    font-weight: 600;
    color: black;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-icon.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    transform: translate3d(20px, 47px, 0px) !important;
    cursor: pointer;
}

.dropdown-item {
    padding: 8px 20px;
}